<div class="container">
  <h1>Welcome to Blog</h1>
  <p>Page in development</p>

  <div class="cards mt-3">
    <% @articles.each do |article| %>
      <div class="card">
        <h2><%= article.title%></h2>
        <p><%= article.description %></p>
          <%= link_to "Read more", article_path(article), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>

</div>
