<div class="navbar text-center">
  <h1 class="text-center">In development...</h1>
</div>

<div class="container">

  <div class="cards mt-3">
    <% @articles[0..20].each do |article| %>
        <%= link_to article_path(article) do %>
          <div class="card">
          <img src="<%= article.image %>" alt="image basket">
            <h5 class="card-title"><%= article.title %></h5>
          </div>
        <% end %>
    <% end %>
  </div>



</div>
