<div class="navbar text-center">
  <h1 class="text-center">In development...</h1>
</div>

<div class="container">

  <div class="cards mt-3">
    <% @articles.each do |article| %>
      <div class="card">
        <h2><%= article.title%></h2>
        <%#  afficher les 100 premiers caractères de la description %>
        <p><%= article.description[0..30] %></p>
          <%= link_to "Read more", article_path(article), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>

</div>
