<div class="container">

  <div>
    <h1 class="text-center"><%= @article.title %></h1>
    <p class="text-center"><%= @article.description %></p>
  </div>

  <%= link_to 'Home', root_path, class: "btn btn-primary" %>
</div>
