<div class="container">

  <div>
    <h2> <%= @article.title %> </h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt impedit ipsum nemo earum, totam dolores, eum odit sapiente vitae ab numquam nostrum molestiae assumenda aliquid quos consequatur incidunt enim atque?
    Itaque cum saepe ea repellendus accusamus architecto quo aut dicta soluta ipsum sapiente dignissimos culpa, veritatis nemo iusto inventore similique assumenda? Provident quae reiciendis iste cupiditate excepturi incidunt doloribus exercitationem!
    Quas asperiores eum adipisci necessitatibus! Esse voluptate nostrum, placeat rerum dolorem, illo fugit expedita hic quidem ex animi molestiae labore illum temporibus iste. Magni quia ipsam quibusdam omnis mollitia ullam.
    Eius expedita, unde quibusdam ex consequuntur fugiat repellendus rem inventore atque et, rerum architecto maiores reprehenderit eveniet distinctio, ab beatae temporibus molestiae earum exercitationem eos? Praesentium eligendi numquam rerum! Earum.
    Pariatur voluptatibus id sunt obcaecati magnam, quas consectetur? Aliquid maxime nemo quae atque quis corrupti at et laboriosam, iure officia consequatur eaque perspiciatis earum quo provident blanditiis. Corrupti, nulla? Necessitatibus.
    Quis provident dolorum voluptate magni exercitationem reiciendis voluptatibus animi voluptatum architecto cumque, minima nobis veniam perspiciatis corporis dicta hic? Ipsum ad eos omnis, assumenda ex vero earum dicta labore officia.
    Minus odit laboriosam minima neque illo totam blanditiis ipsam unde delectus maxime, fuga dolor obcaecati autem optio dolorum omnis, molestiae, facilis cupiditate. Molestias, quasi debitis. Id temporibus beatae sunt laboriosam.
    Aut similique delectus voluptatibus minus omnis impedit consequuntur id totam cum! Delectus dolores soluta obcaecati tempore vel, sapiente expedita, odio cumque provident illum doloremque asperiores amet alias? Ex, iusto accusamus!
    Nihil eligendi nam quibusdam id iusto laborum vero ipsum enim exercitationem, earum voluptates nemo tenetur odio inventore ex molestias et velit modi a repudiandae, vel dolore eum. Asperiores, quae dolor!
    A tempore sit, cupiditate distinctio nihil fugit, eaque laudantium recusandae sint eos quaerat, consequuntur assumenda ratione eius mollitia ad blanditiis facilis animi? Et dolorum nihil ullam provident modi ipsa odio?
    Excepturi inventore explicabo voluptate, adipisci libero laudantium aliquam veritatis, non mollitia minus, perspiciatis rerum officiis labore debitis alias optio praesentium eaque esse possimus doloribus et ratione. Rerum veniam quod maxime.
    Laudantium explicabo maxime repudiandae ullam reiciendis maiores ipsa iusto! Repudiandae, quasi error esse perferendis ad cupiditate ullam fuga tempora, blanditiis, impedit voluptatum harum maxime reiciendis atque corporis aspernatur dignissimos quia?
    Tenetur, illo quibusdam. Suscipit nostrum consectetur labore! Illo earum, perspiciatis quam asperiores quisquam expedita facilis qui odit et culpa. Accusamus dicta illum explicabo itaque saepe. Sunt possimus magni perferendis in!
    Illum saepe aut ratione laboriosam amet eos blanditiis dolor quo voluptatum rem quidem, iste in necessitatibus magni exercitationem, explicabo asperiores aliquam nesciunt? Voluptatibus quas sunt pariatur expedita quibusdam enim eos?
    Enim, quo? Nisi molestias fugiat quo similique ipsam deleniti nulla nostrum consequatur in cumque ipsum suscipit iusto et maiores, hic, beatae eligendi harum modi veniam inventore quia praesentium nesciunt reiciendis.
    Aliquid ipsa possimus vel eius aliquam laborum consectetur voluptatibus non tempore asperiores ipsum quis necessitatibus cupiditate dolore architecto provident quisquam iste eveniet voluptates, labore nostrum quaerat. Accusamus inventore autem quidem.
    Ea nemo obcaecati animi repellat nostrum qui voluptates aut quia, dignissimos cumque provident quibusdam minima, consequatur eligendi ullam reiciendis sunt, rem asperiores impedit dolorum nihil dolor illo tempore sed. Numquam!
    Quibusdam asperiores est temporibus, nemo labore ullam cupiditate magni corporis cumque tenetur cum distinctio nam placeat. Quas incidunt veritatis nemo minus, repudiandae ipsum possimus tenetur molestiae illo rem laudantium! Ipsum.
    Perferendis ab, repudiandae corrupti inventore labore necessitatibus aspernatur similique et, neque nesciunt cum a veniam dignissimos officiis dolore iste eum officia corporis consequuntur vitae expedita nostrum, autem molestiae soluta? Rem!
    Rerum eum sequi quis non aperiam voluptas, corporis nemo odio. Mollitia sequi odit libero ex earum reprehenderit deleniti nulla quis eligendi. Mollitia fugit sed, porro eum molestiae provident hic ipsam.
    Dignissimos eum adipisci inventore molestias quod, odit deleniti tempore in quae, minus provident placeat. Nesciunt minus recusandae perferendis alias soluta omnis assumenda dicta accusamus? Atque nesciunt non tempore labore debitis.
    Voluptatibus assumenda sit obcaecati esse odio quae beatae sequi expedita! Expedita hic, aspernatur reiciendis modi ratione repudiandae explicabo quas quod velit cupiditate veritatis distinctio dolorum labore perspiciatis! Molestiae, quae obcaecati!
    Dolorum doloribus assumenda sit enim illum consequatur nobis pariatur odio facilis deserunt aut quo praesentium veritatis recusandae, illo nostrum? Ad incidunt similique aspernatur accusantium placeat, autem deserunt facere fugit maxime?
    Perferendis dolorum omnis consequatur id provident et est corrupti! Numquam pariatur harum quaerat laudantium recusandae, saepe placeat nulla commodi vero quam odio iure vel adipisci debitis dolore ipsam praesentium? Excepturi!
    Officiis laboriosam corrupti quas provident impedit aut nobis rem. Quidem cum nostrum ad recusandae id fugit ea tempora natus eaque ullam cumque voluptatum pariatur doloremque voluptatibus aliquam excepturi, ipsam quo!
  </div>

  <%= link_to 'Home', root_path, class: "btn btn-primary" %>
</div>
